/* Waybar 整体背景 */
#waybar {
    background: alpha(@wb-bg, 0.9); 
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: @wb-fg;
}

/* 通用模块样式 */
.module {
    border-radius: 14px;
    padding: 0 10px;
    margin: 4px 4px;
    background: alpha(@wb-module-bg, 0.6);
    color: @wb-fg;
}

/* 特定模块颜色点缀 */
#custom-workspaces, #custom-gpu, #custom-clipboard, #custom-logout {
    background: @wb-accent-bg;
    color: @wb-accent-fg;
}

#clock {
    background: alpha(@wb-clock-fg, 0.2);
    color: @wb-clock-fg;
    font-weight: bold;
}

#tray {
    padding-left: 6px;
}

#custom-logout:hover,
#custom-clipboard:hover {
    background: @wb-urgent;
    color: @wb-bg;
}

#workspaces button.focused,
#workspaces button.active {
    color: @wb-active;
    background: @wb-active-bg;
}

/* 状态颜色 */
#custom-pomodoro.work { color: @wb-urgent; }
#custom-pomodoro.work-paused { color: @wb-warning; }
#custom-pomodoro.break { color: @wb-accent; }
#custom-pomodoro.break-paused { color: @wb-warning; }
#custom-pomodoro.long-break { color: @wb-active; }
#custom-pomodoro.long-break-paused { color: @wb-warning; }
